@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/gilroyextrabold.woff2) format('woff2'), url(../fonts/gilroyextrabold.woff) format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/gilroylight.woff2) format('woff2'), url(../fonts/gilroylight.woff) format('woff');
}

@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/opensans.woff2) format('woff2'), url(../fonts/opensans.woff) format('woff');
}

@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/opensanslight.woff2) format('woff2'), url(../fonts/opensanslight.woff) format('woff');
}


/* Global styles */


body {
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  color: #464646;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  padding-top: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
}


a {
  text-decoration: none;
}


/* Helpers */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.list-clear {
  list-style: none;
  padding: 0;
  margin: 0;
}


.container {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

/* Layout */

header {
  background-color: rgba(240, 197, 46, 0.5);
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 30px;
  position: relative;
}

header .logo {
  margin-top: -19px;
}

footer {
  background-color: #464646;
  padding-top: 65px;
  padding-bottom: 60px;
}

footer .footer-user-menu,
footer .service-menu,
footer .social-links {
  display: flex;
}

.footer-user-menu {
  margin: 0;
}

.footer-user-menu li {
  margin-right: 40px;
  position: relative;
}

.footer-user-menu li:last-child {
  margin-right: 0px;
}

.footer-user-menu a {
  opacity: 0.7;
}

.footer-user-menu li:hover a {
  opacity: 1;
}

.footer-user-menu li:hover::before {
  opacity: 0.6;
}

.footer-user-menu li:active {
  opacity: 0.3;
}

.footer-user-menu .login+.logout {
  margin-left: -20px;
}

.footer-user-menu .logout {
  opacity: 0.3;
}

.footer-user-menu .login {
  padding-left: 24px;
}

.footer-user-menu .login::before {
  content: '';
  width: 13px;
  height: 12px;
  background-image: url('../img/user-yellow.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.footer-user-menu .compare {
  padding-left: 20px;
}

.footer-user-menu .compare::before {
  content: '';
  width: 10px;
  height: 10px;
  background-image: url('../img/compare-yellow.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
}

.footer-user-menu .cart {
  padding-left: 20px;
}

.footer-user-menu .cart::before {
  content: '';
  width: 12px;
  height: 12px;
  background-image: url('../img/cart-yellow.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.service-menu {
  margin-left: -48px;
}

.service-menu li {
  margin-right: 33px;
}

.service-menu li:last-child {
  margin-right: 0px;
}

.social-links {
  margin-left: -53px;
}

.social-links li {
  margin-right: 22px;
}

.social-links li:last-child {
  margin-right: 0px;
}


.user-menu-wrap,
.about-us-wrap,
.service-menu-wrap,
.social-menu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer .user-menu-wrap {
  margin-bottom: 10px;
}

footer .service-menu-wrap {
  align-items: center;
  margin-bottom: 39px;
}

.social-menu-wrap {
  align-items: center;
}

.user-navigation,
.main-navigation {
  display: flex;
}

.user-navigation {
  width: 499px;
  padding-top: 3px;
}

.user-navigation li {
  margin-left: 40px;
  position: relative;
}

.user-navigation li:first-child {
  margin-left: 0px;
}

.user-navigation li:nth-last-child(2) {
  margin-left: auto;
}

.user-navigation .login {
  padding-left: 24px;
}

.user-navigation .login::before {
  content: '';
  width: 13px;
  height: 12px;
  background-image: url('../img/user.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.user-navigation .compare {
  padding-left: 20px;
}

.user-navigation .compare::before {
  content: '';
  width: 10px;
  height: 10px;
  background-image: url('../img/compare.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
}

.user-navigation .cart {
  padding-left: 23px;
}

.user-navigation .cart::before {
  content: '';
  width: 12px;
  height: 12px;
  background-image: url('../img/cart.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.main-navigation {
  margin-top: 21px;
  margin-left: -1px;
}

.main-navigation>li {
  margin-right: 35px;
}

.main-navigation>li:last-child {
  margin-right: -3px;
  margin-left: auto;
}

.main-navigation .sub-menu-parent {
  width: 50%;
  margin-right: 20px;

}

.sub-menu-parent>a {
  position: relative;
  padding-right: 29px;
}

.sub-menu-parent>a::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('../img/plus.svg');
  background-repeat: no-repeat;

  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -8px;

  opacity: 0.3;
}

.main-navigation .sub-menu {
  padding: 20px 60px 42px;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #f7e296;
  z-index: 1;

  display: none;
  flex-wrap: wrap;
}

.main-navigation .sub-menu-parent:hover .sub-menu {
  display: flex;
}

.sub-menu li {
  width: 240px;
}

.sub-menu li:nth-child(3) {
  margin-right: 25%;
}

.sub-menu li:last-child {
  margin-right: 50%;
}


.featured-products-slider {
  margin-bottom: 97px;
}

.slide {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0px 60px;
}

.slide-content {
  max-width: 503px;
  flex-grow: 1;
  flex-shrink: 0;
  margin-right: -3px;

}

.slide-content table {
  margin-top: 40px;
  margin-left: -3px;
}

.slide-image {
  order: -1;
  flex-grow: 1;

}

.item-1 .slide-image {
  padding-left: 29px;
  padding-top: 3px;
}

.item-2 .slide-image {
  padding-top: 15px;
  padding-left: 56px;
}

.item-3 .slide-image {
  padding-top: 69px;
  margin-left: -34px;
}

.item-1 table td:nth-child(1),
.item-2 table td:nth-child(1) {
  width: 158px;
}

.item-1 td:nth-child(2),
.item-2 td:nth-child(2) {
  width: 137px;
}

.item-1 td:nth-child(3) {
  width: 140px;
}

.slide-number {
  position: absolute;
  top: -10px;
  right: 48px;
}

.slider-controls {
  position: absolute;
  right: 83px;
  bottom: 156px;
  z-index: 100;
  width: 78px;
  height: 12px;
  text-align: center;
  font-size: 0;
  display: flex;
  justify-content: space-between;
}

.slider-controls button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  padding: 5px;
  overflow: hidden;
  text-indent: 100px;
  background-color: #ffffff;
  border: 1px solid #050505;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls button.active::before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  border: 1px solid #050505;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}


.slider {
  position: relative;
  background-image: linear-gradient(rgba(240, 197, 46, 0.5) 115px, #ffffff 115px);
}

.slider-item {
  display: none;
  justify-content: space-between;
  position: relative;
  padding: 0px 60px;
  min-height: 488px;
}

.slider-item.active {
  display: flex;
}

.slider-item p {
  margin-bottom: 38px;
  margin-top: 19px;
}

.slide-title-wrap {
  display: flex;
}

.category-list {
  display: flex;
  justify-content: space-between;
}

.single-category-item {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 160px;
}

.single-category-item .category-icon {
  order: -1;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-category-item:nth-child(2) .category-icon {
  align-items: flex-end;
}

.single-category-item h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 33px;
}

.services {
  margin-top: 62px;
  padding-bottom: 68px;
  min-height: 387px;
}

.services p {
  margin-bottom: 44px;
  letter-spacing: 0.23px;
}

.services-wrap {
  display: flex;
}

.services-navigation {
  display: flex;
  flex-direction: column;
}

.service-tabs {
  margin-top: 55px;
}

.service-tabs li {
  margin-top: 25px;
  margin-bottom: 15px;
}

.services-wrap .services-content {
  border-left: 7px solid black;
  padding-left: 117px;
  padding-top: 74px;
  width: 565px;
  min-height: 319px;
}


.services .single-service {
  display: none;
  position: relative;
}

.services .single-service.active {
  display: block;
}

.single-service h3 {
  margin-top: 0px;
}

.services-content .delivery::after {
  content: '';
  display: block;
  width: 136px;
  height: 164px;
  position: absolute;
  background-image: url('../img/delivery.svg');
  background-repeat: no-repeat;
  top: 12px;
  left: 556px;
}

.services-content .warranty::after {
  content: '';
  display: block;
  width: 171px;
  height: 194px;
  position: absolute;
  background-image: url('../img/warranty.svg');
  background-repeat: no-repeat;
  top: -12px;
  left: 542px;
}

.services-content .credit::after {
  content: '';
  display: block;
  width: 156px;
  height: 186px;
  position: absolute;
  background-image: url('../img/credit.svg');
  background-repeat: no-repeat;
  top: -10px;
  left: 533px;
}

.catalog-header {
  padding: 0 60px;
  margin-bottom: 44px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs li {
  padding-right: 34px;
  position: relative;
}

.breadcrumbs li::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 7px;
  background-image: url('../img/nav-arrow.svg');
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}

.breadcrumbs li:last-child::after {
  content: none;
}

.catalog-main-wrap {
  width: 100%;
  display: flex;
}

.column-1,
.column-2 {
  position: relative;
  flex-grow: 1;
}

.column-2 {}

.column-1 {
  background-color: #efefef;
}

.column-1::before,
.column-2::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 70px;

}

.column-1::before {
  background-color: #dcdcdc;
}

.column-2::before {
  background-color: #ebebeb;
}

.catalog-main-wrap .filter {
  margin-left: auto;
  position: relative;
  width: 328px;
  padding-right: 68px;
  padding-left: 60px;
}

.catalog-main-wrap .product-list-wrap {
  margin-right: auto;
  position: relative;
  width: 832px;
  padding-left: 72px;
  padding-bottom: 76px;
}


.filter h2,
.product-list-wrap h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 23px;
  margin-right: 60px;
  letter-spacing: 0.2em;
}

.filter form {
  margin-top: 93px;
}

.price-controls {
  font-size: 0;
  position: relative;
}

.price-controls label {
  display: inline-block;
  opacity: 0.2;
  color: #000000;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
}

.price-controls input {
  width: 35px;
  height: 42px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.product-list {
  margin-top: 70px;
}

.filter-range {
  padding-bottom: 25px;
}

.range-controls {
  position: relative;

  margin-top: 35px;
}

.range-controls .scale {
  height: 2px;
  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  background-color: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 54%;
}

.checkbox-group {
  margin-top: 21px;
  margin-bottom: 38px;
}

.checkbox-group li {
  margin-bottom: 10px;
}

.checkbox-group input {
  display: none;
}

input[type='checkbox']+label {
  position: relative;
  padding-left: 40px;
  line-height: 23px;
}

input[type='checkbox']+label::before {
  content: '';
  width: 27px;
  height: 23px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
}

input[type='checkbox']:checked+label::before {
  background-image: url('../img/checkbox-on.svg');
}

input[type='checkbox']:hover+label::before {
  opacity: 0.6;
}

input[type='checkbox']:active+label::before {
  background-image: url('../img/checkbox-on.svg');
}

input[type='checkbox']:checked:active+label::before {
  background-image: url('../img/checkbox-off.svg');
}

input[type='checkbox']:disabled+label::before {
  opacity: 0.25;
}

.radio-group {
  margin-top: 25px;
  margin-bottom: 35px;
}

.radio-group li {
  margin-bottom: 15px;
}

.radio-group input {
  display: none;
}

input[type='radio']+label {
  position: relative;
  padding-left: 41px;
  line-height: 25px;
  display: block;
}

input[type='radio']+label::before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
}

input[type='radio']:checked+label::before {
  background-image: url('../img/radio-on.svg');
}

input[type='radio']:hover+label::before {
  opacity: 0.6;
}

input[type='radio']:active+label::before {
  background-image: url('../img/radio-on.svg');
}

input[type='radio']:checked:active+label::before {
  background-image: url('../img/radio-off.svg');
}

input[type='radio']:disabled+label::before {
  opacity: 0.25;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brand-gallery {
  display: flex;
  justify-content: space-between;
  padding: 95px 0 84px;
}

.single-brand:hover::before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 260px;
  height: 100px;
  background-repeat: no-repeat;
}

.single-brand:nth-child(1)::before {
  background-image: url('../img/brand-1-hover.jpg');
}

.single-brand:nth-child(2)::before {
  background-image: url('../img/brand-2-hover.jpg');
}

.single-brand:nth-child(3)::before {
  background-image: url('../img/brand-3-hover.jpg');
}

.single-brand:nth-child(4)::before {
  background-image: url('../img/brand-4-hover.jpg');
}

.brand-gallery .single-brand:hover img {
  display: none;
}

.about-us-wrap {
  padding-bottom: 75px;
}

.about-us-wrap p {
  margin-bottom: 44px;
  letter-spacing: -0.2px;
}

.about-us-wrap .about-us {
  width: 505px;
}

.about-us-wrap .contact-us {
  width: 560px;
}

.about-us .button {
  margin-top: 34px;
  padding: 14px 23px 14px 22px;
}

.contact-us .button {
  margin-top: 50px;
  padding: 14px 39px 14px 39px;
}

.modal-contact {
  position: fixed;
  z-index: 10;
  width: 960px;
  height: 553px;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -276px;
  padding: 99px 100px 90px;
  display: none;
}

.modal-contact.active {
  display: block;
  animation: bounce 0.6s;
}

.modal-contact.invalid {
  animation: shake 0.6s;
}


.close {
  position: absolute;
  right: 22px;
  top: 22px;
}

.contact-us-form .inputs-wrap {
  display: flex;
  justify-content: space-between;
}

.inputs-wrap p {
  margin-top: 0px;
  margin-bottom: 39px;
}

.modal-map {
  position: fixed;
  width: 960px;
  height: 559px;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.modal-map.active {
  opacity: 1;
  z-index: 10;
}

.modal-map iframe {
  border: none;
}

.sorting,
.sorting-type,
.sorting-way {
  display: flex;
}

.sorting {
  align-items: center;
}

.sorting-type li {
  margin-right: 28px;
}

.sorting-way {
  margin-left: auto;
  width: 60px;
  margin-right: 0px;
  justify-content: space-around;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 57px;
  position: relative;
}

.product-card .flag {
  position: absolute;
  top: 29px;
  right: 30px;

  width: 58px;
  height: 58px;

  font-size: 0;
  z-index: 20;
}

.flag-new::before {
  content: 'New';
  display: flex;
  width: 58px;
  height: 58px;
  justify-content: center;
  align-items: center;
  border: 2px solid #d6d6d6;
  border-radius: 50%;
  color: #d6d6d6;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
}

.product-card > a {
  order: -1;
  display: block;
}

.product-card .product-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 25px;
  height: 60px
}

.product-card .product-button-group {
  position: absolute;
  width: 100%;
  height: 380px;
  background-color: rgba(238, 238, 238, 0.7);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px;
}

.product-card:hover .product-button-group {
  display: flex;
}

.product-card h3,
.product-card p {
  margin: 0px;
  line-height: 20px;
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -10px;
}

.pagination li {
  margin-right: 30px;
}

.pagination li:nth-last-child(2) {
  margin-right: 0px;
}

.pagination li:first-child {
  margin-right: auto;
  margin-left: 0px;
}

.pagination li:last-child {
  margin-left: auto;
  margin-right: 0px;
}

/* Buttons */

.button {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  padding: 14px 40px 11px 44px;
  border: none;
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0.2em;
  position: relative;
  background-color: transparent;
  z-index: 1;
}

.button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  top: 50%;
  left: 0;
  background-color: #f0c52e;
  transform: translateY(-50%);
  z-index: -1;
  transition: all 0.2s ease;
}

.button:hover::after {
  height: 100%;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.close {
  border: none;
  width: 55px;
  height: 55px;
  background: transparent;
  background-image: url('../img/modal-close.svg');
  background-repeat: no-repeat;
  opacity: 0.5;
  font-size: 0;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.close:active {
  opacity: 0.3;
}

/* Navigation */

.user-navigation,
.main-navigation,
.service-menu,
.service-tabs,
.social-links,
.bullet-navigation,
.sub-menu,
.footer-user-menu,
.breadcrumbs {
  list-style: none;
  padding-left: 0px;
}

header a {
  color: #000000;
}

footer a {
  color: #ffffff;
}

header a:hover,
footer a:hover,
.user-navigation li:hover {
  opacity: 0.6;
}

header a:active,
footer a:active,
.user-navigation li:active {
  opacity: 0.3;
}

.user-navigation .logout {
  opacity: 0.3;
  margin-left: 20px;
}

.main-navigation a {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.2em;
}

.sub-menu a {
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: none;
  line-height: 35px;
  letter-spacing: 0.15px;
}

.service-menu a {
  font-size: 18px;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.social-links {
  font-size: 0px;
}

.social-links a {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.social-links a:hover {
  opacity: 0.6;
}

.social-links a:active {
  opacity: 0.1;
}

.social-links .facebook {
  background-image: url('../img/fb.svg');
}

.social-links .instagram {
  background-image: url('../img/instagram.svg');
}

.social-links .twitter {
  background-image: url('../img/twitter.svg');
}


.breadcrumbs li,
.breadcrumbs a {
  font-size: 14px;
  color: #000000;
}

.breadcrumbs li {
  opacity: 0.3;
}

.breadcrumbs li:hover {
  opacity: 0.6;
}

.breadcrumbs li:active {
  opacity: 0.1;
}

/* Search form */

.search-form {
  display: flex;
}

.search-form input[type='text'] {
  background-color: transparent;
  padding-left: 37px;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: 3px center;
  border: none;
  height: 43px;
  outline: none;
  margin-top: 12px;
}

.search-form button {
  border: 2px solid #000000;
  background: transparent;
  padding: 12px 21px;
  position: relative;
  top: 8px;
  display: none;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-form button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-form ::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form:hover ::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:valid,
.search-form input:focus {
  width: 356px;
  box-shadow: 0 2px 0 0 #000000;
  margin-bottom: -6px;
}

.search-form input:valid + button,
.search-form input:focus + button {
  display: inline-block;
  vertical-align: top;
}


/* Home top slider */

.featured-products-slider {
  position: relative;
}

.featured-products-slider .slide {
  background: rgb(240, 197, 46);
  background: linear-gradient(180deg,
      rgba(240, 197, 46, 0.5) 0%,
      rgba(240, 197, 46, 0.5) 115px,
      rgba(240, 197, 46, 0) 115px,
      rgba(240, 197, 46, 0) 100%);
}

.featured-products-slider .slide-number {
  font-size: 179px;
  line-height: 179.2px;
  color: #ffffff;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
}

.featured-products-slider h3 {
  font-size: 47px;
  line-height: 56px;
  margin: 0;
  padding-top: 42px;
  margin-top: 40px;
  position: relative;
  letter-spacing: 0.6px;
}

.featured-products-slider h3::before {
  content: '';
  width: 100px;
  height: 7px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.featured-products-slider tr:first-child td {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 51px;
  color: #000000;
}

.featured-products-slider tr:last-child td {
  font-size: 13px;
  line-height: 20px;
}

/* Category list */

.single-category-item h3 a {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
}

.single-category-item .category-icon {
  background-color: rgba(240, 197, 46, 0.5);
}

.single-category-item:hover .category-icon {
  background-color: rgb(240, 197, 46);
}

.single-category-item:active h3 a {
  opacity: 0.3;
}

.single-category-item:active .category-icon img {
  opacity: 0.3;
}

/* Services */

.services {
  background-color: #e5e5e5;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100px, rgba(229, 229, 229, 1) 100px);
}

.service-tabs .button {
  width: 160px;
  height: 40px;
  padding: 9px 7px 9px 11px;
  text-align: center;
}

.service-tabs .button.active,
.service-tabs .button:active {
  width: 277px;
  color: #f7e184;
  text-align: left;
  padding-left: 19px;
}

.service-tabs .button.active::after,
.service-tabs .button:active::after {
  top: 0px;
  height: 100%;
  transform: translateY(0);
  background-color: #000000;
}

.single-service h3 {
  font-size: 47px;
  line-height: 48px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

/* About us , Contact us */

.about-us h2,
.contact-us h2 {
  font-size: 47px;
  line-height: 48px;
  margin-top: 0px;
  margin-bottom: 43px;
}


.about-us h2::before,
.contact-us h2::before {
  content: '';
  display: block;
  width: 80px;
  height: 7px;
  margin-bottom: 45px;
  background-color: #000000;
}

.about-us p:first-of-type {
  margin-bottom: 30px;
  letter-spacing: 0.1px;
}

.contact-us p:first-of-type {
  margin-bottom: 40px;
}

.about-us ul {
  list-style: none;
  padding: 0px;
  padding-top: 22px;
}

.about-us li {
  padding-left: 36px;
  background-image: url('../img/list-bullet.svg');
  background-repeat: no-repeat;
  background-position: -3px center;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}


/* Footer elements */

address,
.phone {
  color: #ffffff;
  margin: 0;
  font-style: normal;
}


/* Modal windows */


.contact-us-form label {
  display: block;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.contact-us-form ::placeholder {
  color: #464646;
  opacity: 0.4;
  font-size: 14px;
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 300;
}

.contact-us-form input[type='text'],
.contact-us-form input[type='email'] {
  background-color: #f2f2f2;
  width: 360px;
  height: 50px;
  padding: 19px 20px 21px 20px;
  border: none;
}

.contact-us-form textarea {
  width: 760px;
  height: 156px;
  background-color: #f2f2f2;
  padding: 18px 20px;
  border: none;
}

.contact-us-form input[type='text']:hover,
.contact-us-form input[type='email']:hover,
.contact-us-form textarea:hover {
  background-color: #ebebeb;
}

.contact-us-form input[type='text']:focus,
.contact-us-form input[type='email']:focus,
.contact-us-form textarea:focus {
  outline: 3px solid #f0c52e;
}

.contact-us-form input[type='text']:invalid,
.contact-us-form input[type='email']:invalid,
.contact-us-form textarea:invalid,
.contact-us-form input[type='text'].invalid,
.contact-us-form input[type='email'].invalid {
  background-color: #edb5b5;
  opacity: 0.5;
}


/*
** Catalog page
*/

.catalog h1 {
  font-size: 47px;
  line-height: 48px;
  margin-top: 38px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}


.catalog h2 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

/* Filter */


.filter fieldset {
  border: none;
  display: block;
  padding-top: 10px;
}

.filter legend {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
}

.filter ul {
  list-style: none;
  padding: 0;
}

.filter label {
  font-size: 14px;
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  line-height: 40px;
  font-weight: 300;
}

.filter :disabled + label {
  color: #a6a6a6;
}

.range label {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  opacity: 0.2;
  font-weight: 300;
}


/* Sorting */

.sorting ul {
  list-style: none;
  padding: 0;
  margin-right: -10px;
}

.sorting-type a {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
  color: #000000;
}

.sorting-type a:hover {
  opacity: 0.6;
}

.sorting-type a:active,
.sorting-type a.active {
  opacity: 1;
}

.sorting-way a {
  font-size: 0;
  display: block;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sorting-way a:hover {
  opacity: 0.4;
}

.sorting-way a:active,
.sorting-way a.active {
  opacity: 1;
}

.sorting-way .up {
  background-image: url('../img/icon-up-dir.svg');
}

.sorting-way .down {
  background-image: url('../img/icon-down-dir.svg');
}


/* Product card */

.product-card h3 a {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.product-card p {
  font-size: 16px;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.16px;
  padding-right: 2px;
}

.product-button-group {
  list-style: none;
  padding: 0;
}

.add-to-compare {
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  opacity: 0.5;
}

.add-to-compare:hover {
  opacity: 1;
}

.add-to-compare:active {
  opacity: 0.2;
}


/* Pagination */

.pagination {
  background-color: #ebebeb;
}

.pagination .back,
.pagination .forward {
  display: inline-block;
  vertical-align: top;
  height: 70px;
  padding: 24px 30px 20px 30px;

}

.pagination a {
  color: #000000;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.3;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.pagination a:hover {
  opacity: 0.6;
}

.pagination .back,
.pagination .forward,
.pagination a:active,
.pagination a.active {
  opacity: 1;
}

.pagination .back:hover,
.pagination .forward:hover {
  background-color: #d8d8d8;
  opacity: 1;
}

.pagination .back:active,
.pagination .forward:active {
  background-color: #d8d8d8;
}

.pagination .back:active,
.pagination .forward:active {
  opacity: 0.3;
}


/* Decoration */


.social-menu-wrap:before {
  content: '';
  width: 80px;
  height: 7px;
  background-color: #ffc600;

}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
